{{- $ga := index .Site.Params "ga" | default dict }}
{{- $measurement := index $ga "measurement" | default dict }}
{{- $envGAID := index $measurement "id" | default "" }}
{{- $configGAID := index .Site.Params "ga_measurement_id" | default "" }}
{{- $gaID := or $configGAID $envGAID }}
{{- with $gaID }}
<script type="text/plain" data-cc-category="analytics" async data-src="https://www.googletagmanager.com/gtag/js?id={{ . | urlquery }}"></script>
<script type="text/plain" data-cc-category="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{- end }}
