{{- $page := . -}}
{{- $archiveURL := "archive/" | absURL -}}
{{- $rssURL := "index.xml" | absURL -}}
{{- $searchURL := "search/" | absURL -}}
{{- $tagsURL := "tags/" | absURL -}}
{{- $categoriesURL := "categories/" | absURL -}}
{{- $isWeekly := eq $page.Type "weekly" -}}
{{- $monthlyURL := "monthly/" | absURL -}}
{{- $yearlyURL := "yearly/" | absURL -}}
{{- if $isWeekly -}}
  {{- with site.GetPage (printf "/monthly/%s/%s" ($page.Date.Format "2006") ($page.Date.Format "01")) -}}
    {{- $monthlyURL = .RelPermalink -}}
  {{- end -}}
  {{- with site.GetPage (printf "/yearly/%s" ($page.Date.Format "2006")) -}}
    {{- $yearlyURL = .RelPermalink -}}
  {{- end -}}
{{- end -}}
<nav class="report-shortcuts" aria-label="Report navigation">
  {{- if $isWeekly }}
  <a href="{{ $archiveURL }}">Archive</a>
  <a href="{{ $monthlyURL }}">Monthly</a>
  <a href="{{ $yearlyURL }}">Yearly</a>
  {{- end }}
  <a href="{{ $tagsURL }}">Tags</a>
  <a href="{{ $categoriesURL }}">Categories</a>
  <a href="{{ $searchURL }}">Search</a>
  <a href="{{ $rssURL }}">RSS</a>
</nav>
